ul li{
    display: inline-block;

}
ul li:nth-child(){
   
}
header {
    position: fixed;
    width: 100%;
    margin-left:-7.5em;
    background-color: purple;
    color: red;
    
    
   
}
.btn-md{
    
    height: 4.5em;
    width:7em;
    
}
button{
    width: 6em;
    margin-top: 20px;
    font-weight: 700;
}

.my-text{
    color: black;
    font-size: 1.5em;
    padding-top: 10em;
}
.section-1{
    padding-left: 9em;
    margin:0 3em;
    margin-bottom: 100em;
    background-color:aliceblue;
}
.my-pic{
    margin-top: 10em;
    width:250px; 
    height:300px; 
    border-radius: 80%;
}