ul li{
    display: inline-block;
    
}
ul li:nth-child(){
   
}
header {
    width: 100%;
    margin-left:-7.5em;
    background-color: blueviolet;
    
    position: fixed;
   
}
.btn-md{
    
    height: 4.5em;
    width:7em;
    
}
button{
    width: 6em;
    margin-top: 20px;
    font-weight: 700;
}
body{
    background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001) ));
    background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat:repeat-x;
}
.my-text{
    color: black;
    font-size: 1.5em;
}
.section-1{
    padding: 9em;
    margin:0 3em;
    margin-bottom: 100em;
    background-color:aliceblue;
}